@import "style";



*,
*::before,
*::after {
  box-sizing: border-box;
}


*{
  padding:0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}


body{
  font-family: 'Open Sans', sans-serif;
  color: #333;
}


a.bear-button{
  display: inline-block;
   position: fixed;
   bottom: 29px;
   right: 25px;
   width: 56px;
   height: 56px;
  border-radius: 50%;
  color: white;
  background-color: black;
  text-decoration: none;
  z-index: 20;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14),
              0 4px 8px rgba(0, 0, 0, 0.28);
   outline: none;
    text-align: center;
    padding-top: 15px;

}


header{
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  display:flex;
  justify-content: center;
  padding: 10px 0;

  .container-header{
    height: 28px;
    width: 90%;
    max-width: 940px;
    display:flex;
    align-items: center;


    .octicon{
     font-size: 28px;
      margin-right: 10px;
      &:hover{
          color: #4078c0;
        }
    }

    .header-search{
      flex: 0 0 35%;
      min-width: 240px;
      max-width: 400px;
      margin-right: 10px;
      font-size: 13px;
      line-height: 20px;
      color: #333;
      border: 1px solid #ddd;
      background-color: white;

      input{
        height: 26px;
        border-radius: 3px;
        box-shadow: none;
        width: 97%;
        padding: 0 8px;
        border: 0;
        background-color:transparent;
      }
    }

    ul.header-nav{
      list-style:none;
      display:flex;

      li a{
          padding-left:16px;
          color: #333;
          font-size: 13px;
          font-weight: 600;
          white-space: nowrap;
          overflow: hidden;

        &:hover{
          color: #4078c0;
        }

        }

    }

    ul.account {
      flex: 1 1 auto;
      list-style:none;
      display:flex;
      justify-content: flex-end;
      align-items: center;
      li{
        position: relative;
        padding-left: 13px;
        &:hover{
          color: #4078c0;
        }
        .octicon{
          font-size: 16px;
          &:after {
           padding: 0;
          display: inline-block;
          position: absolute;

          bottom: 5px;
           left: 30px;

        width: 0;
        height: 0;

        content: "";
        border: 4px solid transparent;
        border-top-color: #333;
        }

        }

            img.avatar{
            width:20px;
            display:block;
              border-radius: 3px;

            &:after{

          padding: 0;
          display: inline-block;
          position: absolute;

          bottom: 3px;
           left: 38px;

          width: 0;
          height: 0;

          content: "";
          border: 4px solid transparent;
          border-top-color: #333;
            }


        }

      }
    }

  }


  }
  .container{
    margin: 0 auto;
    width: 90%;
    max-width: 940px;

    display:flex;
    flex-flow: row nowrap;
    overflow: hidden;
    margin-top:24px;

    .sidebar{
      flex: 1 0 auto;
      min-width: 200px;
      max-width: 240px;
      display:flex;
      flex-flow: column nowrap;
      padding-right: 12px;

      .avatar{
        width: 100%;
        border-radius: 6px;
      }
      .names{
        padding: 12px 0;
        #fullname{
          font-size: 26px;
          font-weight: 600;
          line-height: 30px;
        }
        #username{
          font-size: 20px;
          line-height: 24px;
        }
      }
      .bio{
        margin-bottom: 14px;
        font-size: 14px;
        color: #767676;
        overflow: hidden;
      }
      ul.details{
        list-style: none;
        padding: 12px 0;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;



        li{
          padding: 3px 0;
          height:22px;
          line-height: 22px;

          .octicon{
            color: #999;
          }
          .detail{
            padding-left: 2px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline;
            font-size: 14px;

            a{
              color: #4078c0;
              &:hover{
                 text-decoration: underline;
              }
            }

          }
        }

      }
    }


    .content-wrapper{
      display: flex;
       flex-flow: column nowrap;
      flex: 3 1 auto;
      min-width: 400px;
      padding-left: 12px;

      nav{
         display:flex;

        align-items: center;
        height: 62px;
        line-height: 62px;
        border-bottom: solid 1px #ddd;

        a{
           flex: 0 0 auto;
          padding: 0 20px;
          font-size: 14px;
          color: #767676;
          overflow:hidden;
          border-bottom: 2px solid transparent;
          &:hover{
          color: #333;
        }
        }

        .selected{
          color: #333;
          border-bottom-color: #c9510c;
        }
        .counter{
          display: inline-block;
          padding: 2px 5px;
          font-size: 12px;
          font-weight: 600;
          line-height: 1;
          color: #666;
          background-color: #eee;
          border-radius: 20px;
        }
      }

      .repo-filter{

        display:flex;
        padding: 12px 0;
        flex-flow: row nowrap;
        border-bottom: solid 1px #ddd;
        //flex: 1 0 auto;

        #search{
            //min-height: 34px;
          flex: 1 1 100px;
          min-width: 100px;
            padding: 6px 8px;
            font-size: 14px;
            line-height: 20px;

            vertical-align: middle;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: right 8px center;
            border: 1px solid #ddd;
            border-radius: 3px;
            outline: none;
        }
        .repo-btn {
             position: relative;
             display: inline-block;
             padding: 6px 12px;
             font-size: 14px;
             font-weight: 600;
             line-height: 20px;
             color: #333;
             white-space: nowrap;
             vertical-align: middle;
             cursor: pointer;

             background-color: #eee;
             background-image: linear-gradient(#fcfcfc, #eee);
             border: 1px solid #d5d5d5;
             border-radius: 3px;
             font-weight: 600;

             background-color: #ddd;

             &:hover{
            background-color: #ddd;
            background-image: linear-gradient(#eee, #ddd);
            border-color: #ccc;
          }

             span{
               opacity: .6 !important;
               font-weight: 300;
             }
        }
        #type-btn{ margin-left: 14px; }
        #language-btn {margin-left: 4px;}
        #new-btn {
          margin-left: 12px;
          color: #fff;
          text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
          background-color: #60b044;
          background-image: linear-gradient(#8add6d, #60b044);
          border-color: #5ca941;

          &:hover{
            background-color: #569e3d;
            background-image: linear-gradient(#79d858, #569e3d);
            border-color: #4a993e;
          }
        }

      }
    }
}


.repo-container{
  flex: 1 1 auto;
   //max-width:600px;


   display: flex;
   flex-flow: column nowrap;


   .repo-item{
      display: flex;
      flex-flow: row nowrap;
      width:100%;
      padding: 24px 0px;
      border-bottom: 1px solid #eee;


      .repo-name{
         display:flex;
         flex-flow: column nowrap;
         flex: 1 1 50%;

         h3{
            a{
               color: #4078c0;
               font-size: 15px;
               text-decoration: none;
               &:hover{
                  text-decoration: underline;
               }
            }
         }
         p{
               font-size: 13px;
               color: gray;
         }
      }
      .stats{
         display:flex;
         flex-flow: row nowrap;
         flex: 1 0 auto;
         justify-content: flex-end;
         height:100%;
         text-align:right;
         font-size: 14px;
         color: #767676 ;

         .activity {
            height:10px;
            flex: 0 1 28%;
            padding:0 5%;
            border-bottom: 2px solid lightgreen;
            text-align:right;
            min-width: 40px;
         }
         .language{
            flex: 1 1 auto;
            min-width: 60px;
            text-align: left;
            padding-left: 20px;

         }
         .stars{
            flex: 1 1 auto;

            min-width: 35px;

      }

      }
   }

}
